<html>
  <head>
    <title>The Gossip Project</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Staatliches&display=swap" rel="stylesheet">  <!-- polices -->
  </head>
  <body>
  

<% n = params['id']%>
<% gossip = Gossip.find(n) %>
<% user = gossip.user %>
<% city = user.city %>
<% u = user.id %>
<% tag = gossip.tag %>

  <div class="box">

<div class="card">
  <div class="card-header" style="text-transform:uppercase;">
    <strong>  <h1><%= gossip.title %></h1> </strong>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <span class="badge badge-light"><a href="/tag/<%= tag.id %>"><%= tag.name %></a></span>

      <% unless current_user %><%else%>
      <%if current_user.id == u %>
      <a href="<%=edit_gossip_path%>" class="badge badge-light">Modifier</a>
      <a href="/gossip/<%=n%>" class="badge badge-light" data-confirm="Êtes-vous sur de vouloir supprimer ce gossip ?"
      data-method="DELETE">Supprimer</a>
      <%end%>
      <%end%>
      <br /><br />

      <h3><%= gossip.content %></h3><br />
           <footer class="blockquote-footer">
  GOSSIP N°<%=n%> | Proposé par : <a href="/user/<%=u%>"><%= user.alias %></a><cite title="Source Title"> <a href="/city/<%= city.name %>">( <%= city.name %> )</a></cite>, le  <%= gossip.created_at %></footer>
    </blockquote>
  </div>
  </div>
<br /><br />

  <% all_comment = Comment.where(gossip_id: n)%>
<div class="card">
  <div class="card-header">
    Commentaires
  </div>
  <ul class="list-group list-group-flush">
  
  <% all_comment.each do |comment| %>
    <% user2 = comment.user %>
    <% u2 = user2.id %>
    <% c = comment.id %>

    <li class="list-group-item">
    <%= comment.content %>
    
    <footer class="blockquote-footer">
   
<% unless current_user %><%else%>
<%if current_user.id == u2 %>
 <a href="/comment/<%=c%>/edit">EDITER</a> | 
 <%end%>
 <%end%> Posté par <a href="/user/<%=u2%>"><%= user2.alias %></a><cite title="Source Title"> <a href="/city/<%= city.name %>">( <%= city.name %> )</a></cite>, le <%= comment.created_at %>
    </footer></li>

  <%end%>
  </ul>
</div>

<% unless current_user %><%else%>
<br /><br />
<h3>Ajouter un commentaire</h3>

<form action='/comment/<%=n%>' method="POST">
<input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %> >
Commentaire : <input class="form-control" type="text" name="comment"><br />
  <input type="submit" class="btn btn-info" value="Envoyer">
</form>
<%end%>




</div>
  </body>
</html>