<html>
  <head>
    <title>The Gossip Project</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Staatliches&display=swap" rel="stylesheet">  <!-- polices -->
  </head>
  <body>
  

<% n = params['id']%>
<% gossip = Gossip.find(n) %>
<% user = gossip.user %>
<% u = user.id %>

  <div class="box">

  GOSSIP N°<%=n%>
  <h1><%= gossip.title %></h1>
<strong>
Proposé par : <a href="/user/<%=u%>"><%= user.alias %></a> <em>(<%= user.first_name %>)</em>
</strong><br />
Le <%= gossip.created_at %>
<br /><br />
<div class="content_box"><%= gossip.content %></div>

</div>
  </body>
</html>