<html>
  <head>
    <title>The Gossip Project</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Staatliches&display=swap" rel="stylesheet">  <!-- polices -->
  </head>
  <body>
  
  <div class="box">

<h1>Bienvenue 
<% unless current_user %><%else%>
<%= current_user.alias %> !
<%end%>
</h1><br />

<%if @gossip %>
<div class="alert alert-success" role="alert">
Ton gossip a bien été ajouté !
</div><br />
<% end %>

<%if @user %>
<div class="alert alert-success" role="alert">
Ton compte a bien été crée ! <br /><br />
Tu peux désormais te connecter en cliquant sur ce lien :<br />
<a href="<%=new_session_path%>">CONNEXION</a>
</div><br />
<% end %>



Afficher les potins de la catégorie : <br /><br />
<% all_tag = Tag.all %>
<% all_tag.each do |t| %>
  <span class="badge badge-light"><a href="tag/<%= t.id %>"><%= t.name %></a></span>
  <%end%>
  <br /><br />

Tous les potins :
<a href="/gossip/new"><div class="btn btn-info" style="float:right;">Ajouter un gossip</div></a><br />
<br /><br />

<% all_gossip = Gossip.all %>

<div class="d-flex  flex-wrap justify-content-center">

<% all_gossip.each do |gossip| %>
  <% id = gossip.id %>
  <% tag = gossip.tag %>
  <% user = gossip.user %>
  <% city = user.city %>
  <% com = Comment.where(gossip_id: id) %>
  <% like = Like.where(gossip_id: id) %>

  <div class="card" style="width: 18rem; margin:5px;">
  <div class="card-header" style="text-transform:uppercase;"><strong><%= gossip.title %></strong></div>
  <div class="card-body">
    <p class="card-text">
    <small class="text-muted">Gossip n°<%= id %><br />
    <%= like.length %> likes | 
    <strong><%= com.length %> commentaires</strong></small> <br />
    <a href="/user/<%=user.id%>"><%= user.alias %></a> <em><a href="/city/<%= city.name %>">( <%= city.name %> )</a></em><br />
    <span class="badge badge-light align-right"><a href="/gossip/<%=id%>">En lire plus</a></span> 
     
    <span class="badge badge-light"><a href="/tag/<%= tag.id %>"><%= tag.name %></a></span></p>


  </div>
</div>
<%end%>

</div>


</div>
  </body>
</html>