<html>
  <head>
    <title>The Gossip Project</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Staatliches&display=swap" rel="stylesheet">  <!-- polices -->
  </head>
  <body>
  
  <% t = params[:tag] %>
  <% tag = Tag.find(t) %>

  <div class="box">

<h1><%= tag.name %> </h1><br />

<% tag_gossip = Gossip.where(tag_id: t) %>

<div class="d-flex  flex-wrap justify-content-center">

<% tag_gossip.each do |gossip| %>
  <% id = gossip.id %>
  <% tag = gossip.tag %>
  <% user = gossip.user %>
  <% city = user.city %>
  <% com = Comment.where(gossip_id: id) %>

  <div class="card" style="width: 18rem; margin:5px;">
  <div class="card-header" style="text-transform:uppercase;"><strong><%= gossip.title %></strong></div>
  <div class="card-body">
    <p class="card-text">
    <small class="text-muted">Gossip n°<%= id %> | 
    <strong><%= com.length %> commentaires</strong></small> <br />
    <a href="/user/<%=user.id%>"><%= user.alias %></a> <em><a href="/city/<%= city.name %>">( <%= city.name %> )</a></em><br />
    <span class="badge badge-light align-right"><a href="/gossip/<%=id%>">En lire plus</a></span> 
     
    <span class="badge badge-light"><a href="/tag/<%= tag.id %>"><%= tag.name %></a></span></p>


  </div>
</div>
<%end%>

</div>



</div>
  </body>
</html>