<html>
  <head>
    <title>The Gossip Project</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Staatliches&display=swap" rel="stylesheet">  <!-- polices -->
  </head>
  <body>
  


<% n = params['user_id']%>
<% user = User.find(n) %>
<% city = user.city %>

  <div class="box">

  <div class="card mb-3" style="max-width: 750px; margin:auto;">

  <div class="card-header" style="text-transform:uppercase;">
    <strong>  <h1><%= user.alias %></h1> </strong>
  </div>

  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://images.pexels.com/photos/35598/peacock-bird-colorful-blue.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img" alt="img_profile">
    </div>
    <div class="col-md-8">
      <div class="card-body">
      <p class="card-text"><strong>INFORMATIONS</strong></p>
      <p class="card-text">
      Prénom : <%= user.first_name %><br />
      Nom : <%= user.last_name %><br />
      Ville : <a href="/city/<%= city.name %>"><%= city.name %></a><br />
      Age : <%= user.age %><br />
      Email : <%= user.email %><br />
      Description : <%= user.description %></p>
      <p class="card-text"><small class="text-muted">Profil crée le : <%= user.created_at %></small></p>
      </div>
    </div>
  </div>
</div>

<br /><br />

<table width="100%"><tr><td width="20%" valign=top>

<div class="card">
  <div class="card-header" style="text-transform:uppercase;">
  <strong>Likes</strong></div>
  <div class="card-body">
    <blockquote class="blockquote mb-0"><small>

    <% all_like = Likelike.where(user_id: n) %>

    <% all_like.each do |like| %>
    <a href="/gossip/<%= like.gossip.id %>"><%= like.gossip.title %></a><br />
    <% end%>
</small>
    </blockquote>
  </div>
</div>

</td><td valign=top>
<h1 class="text-center">Tous ses gossips</h1>
<% all_gossip = Gossip.where(user_id: n) %>

<div class="d-flex  flex-wrap justify-content-center">

<% all_gossip.each do |gossip| %>
  <% id = gossip.id %>
  <% user = gossip.user %>
  <% tag = gossip.tag %>
  <% com = Comment.where(gossip_id: id)%>
  <% like = Likelike.where(gossip_id: id)%>

  <div class="card" style="width: 300px; margin:5px;">
  <div class="card-header" style="text-transform:uppercase;"><strong><%= gossip.title %></strong></div>
  <div class="card-body">
    <p class="card-text"> 
    <small class="text-muted">Gossip n°<%= id %><br />
    <%= like.length %> likes | 
    <strong><%= com.length %> commentaires</strong></small> <br />
    <%= user.alias %> <em><a href="/city/<%= city.name %>">( <%= city.name %> )</a></em><br />
    <span class="badge badge-light align-right"><a href="/gossip/<%=id%>">En lire plus</a></span>
    <span class="badge badge-light"><a href="/tag/<%= tag.id %>"><%= tag.name %></a></span></p>

  </div>
</div>
<%end%>

</div></td></tr></table>

<br /><br />

</div>
  </body>
</html>