<html>
  <head>
    <title>Ajouter un gossip</title>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Staatliches&display=swap" rel="stylesheet">  <!-- polices -->
  </head>
  <body>

  <div class="box">

	<h1>Ajouter un gossip</h1>

<%if @gossip %>
	<div class="alert alert-danger" role="alert">
		<p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
		<ul> <li> <%= @gossip.wrong_gossip %> </ul>
	</div><br />
<% end %>

	<form action= <%= gossip_index_path %> method="POST" id="new_gos">
<input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %> >
Titre : <input class="form-control" type="text" name="gossip_title"><br />

Catégorie : <select name="tag" form="new_gos">
<% all_tag = Tag.all %>
<% all_tag.each do |t| %>
  <option value="<%=t.id%>"><%=t.name%></option>

  <%end%>
</select><br /><br />

Contenu : <input class="form-control" type="text" name="gossip_content"><br /><br />
  <input type="submit" value="Envoyer">
</form>


</div>
  </body>
</html>